<div class="fixed inset-0 bg-gray-500 bg-opacity-10 flex items-center justify-center">
    <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <div class="w-30 flex items-center justify-center">
            <span class="loading loading-spinner loading-lg"></span>
        </div>
        <br />
        <p class="text-center">@LoadingText</p>
    </div>
</div>

@code {
    [Parameter]
    public string LoadingText { get; set; } = "Loading..";
}
