@page "/"
@using InfoSupport.StaticCodeAnalyzer.WebApp.Services

@inject NavigationManager NavigationManager;
@inject NavBarStateService NavBarState;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        NavigationManager.NavigateTo("/projects");

        NavBarState.PageTitle = "Dashboard";
        NavBarState.TitleRedirect = "/projects";

        NavBarState.UpdateTitle("Dashboard");
    }
};