@page "/projects"
@using InfoSupport.StaticCodeAnalyzer.Domain
@using InfoSupport.StaticCodeAnalyzer.WebApp.Components

@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;

<PageTitle>Projects</PageTitle>

<div class="grid grid-cols-4 gap-4 p-8">
    @if (UserProjects is not null)
    {
        @foreach (var project in UserProjects)
        {
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">@project.Name</h2>
                    <p>@project.Path</p>
                    <div class="card-actions justify-end">
                        <button class="btn" @onclick="() => AnalyzeProject(project)">Analyze</button>
                        <button class="btn" @onclick="() => ViewProject(project)">View</button>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <LoadingSpinner LoadingText="Loading projects..">

        </LoadingSpinner>

    }
</div>

@code {
    public List<Project>? UserProjects = null;

    protected override async Task OnInitializedAsync()
    {
        UserProjects = await HttpClient.GetFromJsonAsync<List<Project>>("/projects");
    }

    public void ViewProject(Project project)
    {
        NavigationManager.NavigateTo($"/project/{project.Id}");
    }

    public void AnalyzeProject(Project project)
    {
        NavigationManager.NavigateTo($"/project/{project.Id}");
    }
}
