<div class="navbar bg-base-100">
    <div class="navbar-start">
        <a class="btn btn-ghost text-xl">Static Code Analyzer</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a>Example Project</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        
    </div>
</div>

@code {

}
